extends layout.pug

block content
  body
    include includes/navigation
    div.form-container
      form.create-article-form
        button(type="submit" class="storyBtn") Publish
        div
          textarea(id="storyTitle" name="title" class="form" type="text" placeHolder="Title" required)
        div.cursor
          textarea(id="storyText" name="body" class="form" placeHolder="Tell your story..." required)
          i
  include includes/scripts
