html
  head
    title Medium
    link(rel='stylesheet' type='text/css' href='/profile-page.css')
    link(rel='stylesheet' type='text/css' href='/style.css')
    link(rel='stylesheet' type='text/css' href='/index-style.css')
    link(rel='stylesheet' type='text/css' href='/create-article.css')
    link(rel='stylesheet' type='text/css' href='/article-view.css')
    link(rel='stylesheet' type='text/css' href='/signup.css')
    link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet")
    link(rel="icon" type="image/png" href="https://medium.com/icons/monogram-mask.svg")

  body
    block content
