extends layout.pug

block content
  include includes/navigation
  form
    textarea(id="article__title" type="text" placeHolder="Enter Title" required)
    h2 #{username}
    div#article__background
      input(type='text' id="Cover__Search")
      button#image_fetch Find Cover Photo
    div#editor
    button(type="submit" class="btn btn-primary" id="article__submit") Submit
  script(src="https://cdn.quilljs.com/1.3.6/quill.js")
  script(src="/js/test.js")
